.headerContainer{
  margin-top: 10px;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  background: white;
}

.headerCenter{
  width: 70%;
  position: relative;
  top: 10px;
  left: 7%;
}

.headerRight{
  position: relative;
  height: 60px;
  top: -35px;
  width: 12%;
  left: 85%;
}

.headerImgBox{
  width: 50px;
  border-radius: 50%;
}