.login{
    background: white;
    width: 100vw;
    height: 100vh;
    position: relative;
  
    .loginBox{
      width: 500px;
      position: absolute;
      left: 70%;
      top: 50%;
      height: 550px;
      transform: translate(-50%,-50%);
      background: white;
      border: 3px solid white;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, .12), 0 0 8px rgba(0, 0, 0, .04)
    }
  }
  
.register{
    background: #ffffff;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.registerBox{
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #736e6e;
    border-radius: 5px;
    box-shadow:4px 4px 15px rgb(64, 62, 62);
}
  
.loginForm{
    width: 328px;
    margin: 0 auto;
}
  
.registerForm{
    width: 328px;
    margin: 0 auto;
}
  
.loginCardBox{
    position: absolute;
    width: 300px;
    height: auto;
    bottom: 200px;
    left: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background-color: rgb(22, 119, 255);
    margin-block: 24px;
    margin-inline: 24px;
    padding-inline: 24px;
    padding-block: 24px;
  
}
  
.loginFormText{
    top: 10px;
    position: relative;
    text-align: center;
}

.loginFormTextSub{
    position: relative;
    text-align: center;
    opacity:0.5;
}

.loginCardTitle{
    font-weight: 500;
    font-size: 28px;
}

.loginCardSubTitle {
    margin-block-start: 8px;
    font-size: 16px;
}

.loginCardAction{
    margin-block-start: 24px;
}

.loginCardButton{
    border-radius: 20px;
    background: rgb(255, 255, 255);
    color: rgb(22, 119, 255);
}