.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .back-button {
    position: absolute;
    top: 50px;
    left: 50px;
  }
  
  .product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 50px;
  }
  
  .product-image {
    margin-right: 50px;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    width: 60%;
  }
  
  .product-price {
    margin-top: 20px;
    font-size: 20px;
  }
  
  .product-price-label {
    font-weight: bold;
  }
  
  .product-price-value {
    color: #f44336;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .product-description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .product-details-more {
    margin-top: 30px;
  }
  
  .product-details-more h2 {
    margin-bottom: 20px;
  }
  
  .product-details-more ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .product-details-more li {
    font-size: 14px;
    line-height: 2;
  }
  