.productIntroduction{
    width: 100%;
}
  
.productPublishContent{
    width: 400px;
}
  
.productCardList{
    width: auto;
    height: auto;
    position: relative;
}
  
.productList{
    margin-left: 30px;
    width: 260px;
    height: auto;
    margin-top: 20px;
    position: relative;
    float: left;
}

.productCarouselComp{
    padding: 20px;
}