.productIntroduction{
    width: 100%;
}
  
.productPublishContent{
    width: 400px;
}
  
.productCardList{
    width: auto;
    height: auto;
    position: relative;
}
  
.productList{
    width: auto;
    height: auto;
    margin: 8px;
    position: relative;
    float: left;
}

.productCarouselComp{
    padding: 20px;
}